<link href="../css/battle.css" rel="stylesheet">

    <ion-view view-title="Let's the battle begin !">
        <ion-content scroll="false">
            <h1 style="text-align:center" class="yellowback"></h1>

            <div class="battlebox yellowback">
                <div class="leftbox boxes">
                    <div class="imagebox">
                        <button type="submit" class="imagebtn">
                            <img id="leftimg" ng-click="onimgclick()" class="bimage maximage" src="/img/img2.jpg" />
                        </button>
                    </div>
                    <div class="nav-bar">
                        <button class="battleOpt"><i class="icon ion-search"></i></button>
                        <button class="battleOpt"><i class="icon ion-flag"></i></button>
                        <button class="battleOpt"><i class="icon ion-star"></i></button>
                    </div>
                </div>
                <div class="middlebox boxes">
                    <img src="img/versus.png" style="width:150px;" />
                </div>
                <div class="rightbox boxes">
                    <div class="imagebox">
                        <button type="submit" class="imagebtn">
                            <img id="rightimg" ng-click="onimgclick()" class="bimage maximage" src="/img/img4.jpg" />
                        </button>
                    </div>
                    <div class="nav-bar">
                        <button class="battleOpt"><i class="icon ion-search"></i></button>
                        <button class="battleOpt"><i class="icon ion-flag"></i></button>
                        <button class="battleOpt"><i class="icon ion-star"></i></button>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
