<ion-view view-title="Browse">
    <ion-content>
        <h1 style="text-align:center;">Let's the battle begin !</h1>

        <div class="box">
            <div class="divleft">
                <button type="submit" class="imagebtn">
                    <img src="/img/jean_kevin.jpg" />
                </button>
            </div>
            <div class="divright">
                <button type="submit" class="imagebtn">
                    <img src="/img/jean_kevin.jpg" />
                </button>
            </div>
            <div class="clear" />
        </div>
    </ion-content>
</ion-view>
