<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <ion-item class="button button-clear button-positive" href="#/app/battle">
        <i class="icon ion-flash"></i>
    </ion-item>
    <ion-item class="button button-clear button-positive" href="#/app/account">
        <i class="icon ion-person"></i>
    </ion-item>
    <ion-item class="button button-clear button-positive" href="#/app/leaderboard">
        <i class="icon ion-trophy"></i>
    </ion-item>
    <ion-item class="button button-clear button-positive" href="#/app/battle">
        <i class="ion ion-gear-b"></i>
   </ion-item>
</body>
</html>
