<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="homecontainer">
        <a class="homebtn button button-icon icon ion-flash" href="#/app/battle"></a>
        <a class="homebtn button button-icon icon ion-person" href="#/app/account"></a>
        <a class="homebtn button button-icon icon ion-trophy" href="#/app/leaderboard"></a>
    </div>
    <div class="settingscontainer">
        <a class="settingsbtn button button-icon icon ion-android-settings" href="#/app/battle"></a>
    </div>
</body>
</html>
