<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="menuback">
        <div class="homecontainer">
            <a class="homebtn" href="#/app/account">
                <i class="button-icon ion-person"></i>
            </a>
            <a class="homebtn" href="#/app/battle">
                <i class="button-icon ion-flash"></i>
            </a>
            <a class="homebtn" href="#/app/leaderboard">
                <i class="button-icon ion-trophy"></i>
            </a>
        </div>
    </div>
</body>
</html>
