<link href="../css/leaderboard.css" rel="stylesheet">

<ion-view view-title="Leaderboard">
    <ion-content>
        <div class="box">
            <div class="divleft">
                <i class="ion-image iconLearderboard"></i>
                <div class="box">
                    <ion-item ng-repeat="leader in leaderboard">
                        <a class="item item-thumbnail-left" href="#">
                            <img src="/img/{{leader.imagePic}}">
                            <h2>{{leader.descriptionPic}}</h2>
                            <p>{{leader.star_numberPic}}</p>
                        </a>
                    </ion-item>
                </div>
            </div>
            <div class="divright">
                <i class="ion-person-stalker iconLearderboard"></i>
                <div class="box">
                    <ion-item ng-repeat="leader in leaderboard">
                        <a class="item item-avatar-leaderboard sizeLeaderboardList" href="#">
                            <img src="/img/{{leader.imagePpl}}">
                            <h2>{{leader.descriptionPpl}}</h2>
                            <p>{{leader.star_numberPpl}}</p>
                        </a>
                    </ion-item>
                </div>
            </div>
            <div class="clear" />
        </div>
    </ion-content>
</ion-view>