<ion-side-menus enable-menu-with-back-views="false">
  <!-- fonctionnement des enfants du menu -->
  <ion-side-menu-content>
    <!-- barre au dessus -->
    <ion-nav-bar class="bar-energized">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!-- button triple egal de retour -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!-- fonctionnement du side menu -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-assertive">
      <!-- titre du side menu -->
      <h1 class="title">Dual Pic</h1>
    </ion-header-bar>
    <!-- contenu (liste des différents bouttons) -->
    <ion-content>
      <ion-list>
          <ion-item menu-close ng-click="login()">
              Register
          </ion-item>
          <ion-item menu-close href="#/homepage">
              Page d'acceuil
          </ion-item>
        <!--
        <ion-item menu-close href="#/app/playlists">
          Categories
        </ion-item>
        -->
        <ion-item menu-close href="#/app/battle">
          Battle
        </ion-item>
        <ion-item menu-close href="#/app/leaderboard">
          Leaderboard
        </ion-item>
        <ion-item menu-close href="#/app/account">
          My account
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
