<link href="../css/my_account.css" rel="stylesheet">

<ion-view view-title="My account">

    <ion-content scroll="false">

        <div class="profileDetail">
            <img src="../img/jean_kevin.jpg" />
            <h2>Jean-kevin</h2>
            <p>Membre depuis 50 jours</p>
        </div>

        <div class="sectionButton">
            <div class="button-bar">
                <p class="button" ng-click="creation()">Créations</p>
                <p class="button" ng-click="favoris()">Favoris</p>
            </div>
        </div>

        <ion-content>            
            <div class="photoList">
                <ion-list>
                    <ion-item id="yolo" ng-repeat="user in users">
                        <div class="item item-thumbnail-left" style="border:0px">
                            <img src="../img/{{user.image}}" />
                            <h2>{{user.description}}</h2>
                            <a href="#" class="subdued">{{user.star_number}} <i class="icon ion-star"></i></a>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-content>
</ion-view>
