<link href="../css/my_account.css" rel="stylesheet">

<ion-view view-title="My account">

    <ion-content scroll="false">

        <div style="padding-left: 1%; padding-top: 1%;" class="profileDetail">
            <img src="../img/blackGuy.jpg" />
            <h2>Jason</h2>
            <p>Member since 50 days</p>
        </div>

        <div class="sectionButton">
            <div class="button-bar">
                <p class="button" ng-click="creation()" style="font-weight:bold; background-color:#FFECB3">Uploads</p>
                <p class="button" ng-click="favoris()" style="font-weight:bold;"><i class="icon ion-star" style="padding-right: 10px; color:cornflowerblue;"></i>Favorites</p>
            </div>
        </div>

        <ion-content>            
            <div class="photoList">
                <ion-list>
                    <ion-item id="yolo" ng-repeat="user in users">
                        <div class="item item-thumbnail-left" style="border:0px">
                            <img src="../img/{{user.image}}"/>
                            <h2>{{user.description}}</h2>
                            <a href="#" class="subdued">{{user.star_number}} <i class="icon ion-star"></i></a>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-content>
</ion-view>
