.profileDetail {
    width: 30%;
    height: 100%;
    float: left;
}

.sectionButton {
    width: 70%;
    float: right;
    position: relative;
    z-index: 1;
}

.photoList {
    width: 70%;
    float: right;
    padding-top: 47px;
}