div.box {
    background: #EEE;
    height: auto;
    width: auto;
}

div.divleft {
    background: #FFF;
    float: left;
    height: 100%;
    width: 50%;
    text-align:center;
}

div.divright {
    background: #FFF;
    height: 100%;
    text-align:center;
}

div.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
    font-size: 0pt;
    margin-top: -1px;
}

/*
.item, .item-complex .item-content {
    background-color:#FF8A65;
    border-color:#FFF;
}
*/
