div.box {
    background: #EEE;
    height: auto;
    width: auto;
}

div.divleft {
    background: #FFF;
    float: left;
    height: 100%;
    width: 50%;
    text-align: center;
}

div.divright {
    background: #FFF;
    height: 100%;
    text-align: center;
}

div.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
    font-size: 0pt;
    margin-top: -1px;
}

/* ----------------- */
/* homepage.html css */
/* ----------------- */

.homebtn {
    font-size:100px;
    margin-top:110px;
    margin-left:60px;
    margin-right:20px;
    font-weight: normal;
    padding:0;
}

.homecontainer {
    display: flex;
    justify-content: center;
    align-items:center;
    height:100%;
    width:100%;
}

.menuback{
    background-image:url(/img/homepage2.png);
    height:100%;
}